# Pooled	and	Panel	Data	Analysis

## Pooled analysis

## Panel Analysis

### Exercise

1) The dataset Data_AgricultureClimate.csv contains information on agricultural production and climate change in SÃ£o Paulo, Brazil

In [4]:
import pandas as pd
from linearmodels import PanelOLS

df = pd.read_csv(
    'http://www4.eco.unicamp.br/docentes/gori/images/arquivos/PanelData/Data_AgricultureClimate.csv',
    index_col = ["periodo", "ano", ]
)
df.head()

                    vtotal  areatotal    tempano      precano    munic
periodo ano
0       1990  1.264259e+06  1388970.0  22.862649  1316.340737  3500105
        1991  7.372399e+05  1235817.0  23.218141  1414.517344  3500105
        1992  1.381728e+06  1059597.0  22.731517  1389.987868  3500105
        1993  1.547279e+06   941193.0  23.196724  1319.847774  3500105
        1994  1.383900e+06   991584.0  23.603014  1160.328301  3500105