In [14]:
import pandas as pd
import numpy as np
from random import shuffle
import random

In [24]:
df = pd.DataFrame(
    {"Número de integrantes" : [4,4,4,4,3,4,2,4,4]}
)
df.index = [f"Grupo {(i+1)}" for i in df.index]
df

         Número de integrantes
Grupo 1                      4
Grupo 2                      4
Grupo 3                      4
Grupo 4                      4
Grupo 5                      3
Grupo 6                      4
Grupo 7                      2
Grupo 8                      4
Grupo 9                      4

In [25]:
modelos = [
    "Solow",
    "AK",
    "Lucas",
    "Romer",
    "Harrod",
    "Multiplicador/Acelerador",
    "Supermultiplicador sraffiano",
    "Kaleckiano",
    "Thirlwall",
    "Lavoie & Stockhammer",
    "Cimoli et. all"
]

In [27]:
numbers = [i for i in range(len(modelos[:-2]))]
shuffle(numbers)
df['Temas'] = [modelos[i] for i in numbers]
df

         Número de integrantes                         Temas
Grupo 1                      4                         Lucas
Grupo 2                      4                        Harrod
Grupo 3                      4                     Thirlwall
Grupo 4                      4  Supermultiplicador sraffiano
Grupo 5                      3      Multiplicador/Acelerador
Grupo 6                      4                            AK
Grupo 7                      2                         Solow
Grupo 8                      4                    Kaleckiano
Grupo 9                      4                         Romer

In [28]:
df.to_latex("../Trabalhos/Sorteio.tex")