In [1]:
import pandas as pd
import numpy as np
import random
random.seed(202007) # Fixando uma seed para garantir reprodutibilidade e checagem dos alunos

In [2]:
temas = ["Solow" for i in range(7)]

def add_questoes(modelo, numero, temas=temas,):
  temas += [modelo for i in range(numero)]
  return temas

add_questoes(modelo="AK", numero=3)
add_questoes(modelo="Lucas", numero=2)
add_questoes(modelo="Romer", numero=3)
add_questoes(modelo="Jones", numero=5)
add_questoes(modelo="Harrod", numero=5)
add_questoes(modelo="Acelerador", numero=2)
add_questoes(modelo="Supermultiplicador", numero=3)
add_questoes(modelo="Kalecki", numero=5)
add_questoes(modelo="Thirwall", numero=2)
add_questoes(modelo="Lavoie", numero=5)
add_questoes(modelo="Kaldor", numero=5)

temas = pd.DataFrame({"Modelo":temas})
modelos = temas["Modelo"].unique().tolist()

In [3]:
def sorteio(df, **kwargs):
  """
  Para adaptar essa função, basta substituir o número de integrantes de cada grupo.
  Procedimentos
  """
  df_ = pd.DataFrame()
  sorteados = []
  for modelo, integrantes in kwargs.items():
    elegiveis = df[df["Modelo"] != modelo].index.tolist()
    sorteio = np.random.choice(a = elegiveis, size = integrantes, replace=False).tolist()
    df = df.drop(sorteio)
    sorteio = [int(i+1) for i in sorteio]
    resultado = pd.DataFrame({modelo : sorteio})
    df_ = pd.concat([df_, resultado], axis=1, ignore_index=True)
    sorteados += sorteio

  df_.columns = modelos
  df_.index = [i+1 for i in df_.index]
  df_.index.name = "Integrantes"
  
  return df_

# Turma A

In [6]:
df = sorteio(
    Solow=1, 
    AK = 4,
    Lucas = 4,
    Romer = 4,
    Jones = 4,
    Harrod = 4,
    Acelerador = 4,
    Supermultiplicador = 4,
    Kalecki= 3,
    Thirwall = 4,
    Lavoie = 4,
    Kaldor = 4,
    df=temas
    )
df

             Solow  AK  Lucas  Romer  ...  Kalecki  Thirwall  Lavoie  Kaldor
Integrantes                           ...
1              8.0  29      3     26  ...     42.0        39      21      27
2              NaN  38      6     33  ...     11.0        22      18      20
3              NaN  34      1     47  ...     24.0         2      28      19
4              NaN  35     30     36  ...      NaN        32      31       9

[4 rows x 12 columns]

# Turma D

In [ ]:
df = sorteio(
    Solow=4, 
    AK = 4,
    Lucas = 4,
    Romer = 4,
    Jones = 4,
    Harrod = 0,
    Acelerador = 4,
    Supermultiplicador = 4,
    Kalecki= 4,
    Thirwall = 4,
    Lavoie = 4,
    Kaldor = 4,
    df=temas
    )
df

             Solow  AK  Lucas  Romer  ...  Kalecki  Thirwall  Lavoie  Kaldor
Integrantes                           ...
1               26  28      8      4  ...        3        19      16      42
2               39   1      9     40  ...       36        30      29      41
3               15  20     43     44  ...       10        34      33      32
4               38  35     18     22  ...       45         6      11      14

[4 rows x 12 columns]