# Loading packages

In [1]:
%config InlineBackend.figure_format = 'retina'

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

print("numpy version  : ", np.__version__)
print("pandas version : ", pd.__version__)
print("seaborn version : ", sns.__version__)

plt.style.use('seaborn-white')

numpy version  :  1.17.2
pandas version :  0.25.1
seaborn version :  0.9.0

# Importing dataset

In [2]:
df = pd.read_excel(
    io = 'http://www.macrohistory.net/JST/JSTdatasetR4.xlsx', 
    sheet_name='Data', 
    index_col = [2, 0], 
    parse_date=True
)

# Checking

In [3]:
df.head()

            country  ifs     pop      rgdpmad     rgdppc     rconpc     gdp  \
iso year
AUS 1870  Australia  193  1775.0  3273.239437  13.836157  21.449734  208.78
    1871  Australia  193  1675.0  3298.507463  13.936864  19.930801  211.56
    1872  Australia  193  1722.0  3553.426249  15.044247  21.085006  227.40
    1873  Australia  193  1769.0  3823.629169  16.219443  23.254910  266.54
    1874  Australia  193  1822.0  3834.796926  16.268228  23.458050  287.58

                iy       cpi         ca  ...  eq_capgain     eq_dp  \
iso year                                 ...
AUS 1870  0.109266  2.708333  -6.147594  ...   -0.070045  0.071417
    1871  0.104579  2.666667   5.260774  ...    0.041654  0.065466
    1872  0.130438  2.541667   7.867636  ...    0.108945  0.062997
    1873  0.124986  2.541667 -11.047833  ...    0.083086  0.064484
    1874  0.141960  2.666667  -5.563959  ...    0.119389  0.063503

          eq_capgain_interp  eq_tr_interp  eq_dp_interp  bond_rate  \
iso year
AUS 1870                NaN           NaN           NaN   0.049118
    1871                NaN           NaN           NaN   0.048446
    1872                NaN           NaN           NaN   0.047373
    1873                NaN           NaN           NaN   0.046720
    1874                NaN           NaN           NaN   0.046533

          eq_div_rtn  capital_tr  risky_tr  safe_tr
iso year
AUS 1870    0.066415         NaN       NaN      NaN
    1871    0.068193         NaN       NaN      NaN
    1872    0.069861         NaN       NaN      NaN
    1873    0.069842         NaN       NaN      NaN
    1874    0.071085         NaN       NaN      NaN

[5 rows x 49 columns]